
PORT=3001
DB_HOST=localhost
DB_PORT=5432
DB_USER=talkie-admin
DB_PASSWORD=postgres
DB_NAME=auth_db
JWT_SECRET=your-jwt-secret-here
JWT_EXPIRES_IN=15m
REFRESH_TOKEN_EXPIRES_IN=7d
REDIS_URL=redis://localhost:6379
REDIS_DB=0